@use "../utils/" as *;

html {}

.index {
    --s: 76px;
    /* control the size */

    --c: var(--bg-primary);
    --_g: conic-gradient(var(--c) 25%, #0000 0) 0 0;

    background:
        var(--_g)/calc(2*var(--s)) calc(var(--s)/9.5),
        var(--_g)/calc(var(--s)/9.5) calc(2*var(--s)),
        repeating-conic-gradient(#0000 0 25%, var(--c) 0 50%) var(--s) 0 /calc(2*var(--s)) calc(2*var(--s)),
        radial-gradient(50% 50%, #2eb044 98%, var(--c)) 0 0/var(--s) var(--s);
    min-height: 80svh;

    padding-block: 25px;

    @include center-flex-column;
    justify-content: flex-start;

    &__error-section {
        min-height: 0;

        display: grid;
        grid-template-rows: 0fr;

        transition: grid-template-rows 500ms ease-out;

        &:has(.index__title-2--error) {
            grid-template-rows: 1fr;
        }
    }

    &__wrapper {
        overflow: hidden;
    }

    &__title-2 {
        font-size: 18px;
        text-wrap: balance;


        &--error {
            text-align: center;
            padding: 25px;

            color: red;
            background-color: color-mix(in oklab, currentColor, transparent 90%);
        }
    }


    &__legend {
        font-size: 22px;
        text-wrap: balance;
    }

    &__options {
        backdrop-filter: blur(25px);

        @include center-flex-column(25px);

        width: 80%;
        margin-inline: auto;

        padding: 15px;

        border: 2px solid currentColor;
        border-radius: 15px;
    }

    &__label {
        text-decoration: underline;

        &--playstate {
            display: inline-flex;
            gap: 10px;
        }
    }

    &__select {
        border-radius: 100vmax;

        padding-block: 2px;
        padding-inline: 5px;
    }

    &__fieldset {
        width: 100%;

        &--options {
            display: flex;
            flex-direction: column;

            gap: 15px;
        }

        &--result {}

        &--buttons {
            display: flex;
            justify-content: space-between;
            gap: 15px;

            flex-wrap: wrap;

            @include mobile-only {
                flex-direction: column;
            }
        }
    }

    &__sentences-container {
        width: inherit;

        min-height: 40svh;
        max-height: 75svh;

        border-radius: 5px;
        border: 2px solid currentColor;

        padding: 5px;

        background-color: color-mix(in oklab, black, transparent);

        overflow-y: auto;

        &:empty {
            border: none;
        }
    }

    &__sentences {
        margin-bottom: 25px;

        color: white;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__button {
        padding: 10px;

        text-align: center;

        background-color: var(--color-primary);
        color: var(--bg-primary);

        border-radius: 5px;

        transition: filter 250ms ease-in-out;

        flex: 1 1 32%;

        &:hover {
            filter: brightness(85%);
        }

        &:active {
            filter: brightness(75%);
        }
    }
}